.venv/
wandb/
__pycache__/
tpu_scripts/
most_similar_out/
*.mp4
.vscode/
uv.lock
checkpoints/
paligemma2-3b-pt-224/
pt_224.npz_.gstmp
pt_224.npz
.claude
*.png
videos/
*.log
norm_stats/
norm_stats_visualizations/
all_data/
*.npz
assets/
logs/

debug_vis/
src/openpi_cot/ckpts
gemma3-4b/
tokenizer.model
request_v4.sh
gemma3-tokenizer.model
ece_robot_learning_env_var.sh
delete_norm_stats.sh

Fri_Apr_21_21:03:49_2023/
Thu_Nov__9_10:01:09_2023/
2025-11-18/
30000/

libero_10_no_noops/
data/