.venv/
wandb/
__pycache__/
tpu_scripts/
most_similar_out/
*.mp4
.vscode/
uv.lock
checkpoints/
paligemma2-3b-pt-224/
pt_224.npz_.gstmp
pt_224.npz
.claude
*.png
videos/
*.log
norm_stats/
norm_stats_visualizations/
all_data/
*.npz
assets/
logs/

debug_vis/
src/openpi_cot/ckpts