[submodule "third_party/openpi-tpu-tools"]
	path = third_party/openpi-tpu-tools
	url = https://github.com/lihzha/openpi-tpu-tools.git
[submodule "third_party/rlds_dataset_builder"]
	path = third_party/rlds_dataset_builder
	url = https://github.com/lihzha/rlds_dataset_builder
	branch = multithreaded
[submodule "third_party/openpi"]
	path = third_party/openpi
	url = https://github.com/Physical-Intelligence/openpi
